{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InsightVault{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script>

</head>
<body class="bg-gray-50 text-gray-800">

  <!-- Navbar -->
  <nav class="flex justify-between items-center py-4 px-6 shadow-sm bg-white">
    <h1 class="text-xl font-bold tracking-tight text-indigo-600">InsightVault</h1>
    <div class="flex items-center gap-4">
    {% if user.is_authenticated %}
      <a href="{% url 'accounts:dashboard' %}" 
        class="text-sm font-medium text-gray-700 hover:text-indigo-600 transition">
        Dashboard
      </a>
      
      <a href="{% url 'journal:home' %}" 
        class="text-sm font-medium text-gray-700 hover:text-indigo-600 transition">
        Journal
      </a>
      
      <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button class="text-sm font-medium text-red-500 hover:text-red-700 transition">
          Logout
        </button>
      </form>
    {% else %}
      <a href="{% url 'accounts:login' %}" 
        class="text-sm font-medium text-indigo-500 hover:text-indigo-700 transition">
        Login
      </a>
    {% endif %}
    </div>

  </nav>

  <!-- Flash messages -->
  {% if messages %}
    <div class="max-w-xl mx-auto mt-4 px-4 fade-in">
      {% for message in messages %}
        <div class="p-4 mb-3 rounded text-sm text-white 
          {% if message.tags == 'success' %}bg-green-500 
          {% elif message.tags == 'error' %}bg-red-500 
          {% elif message.tags == 'warning' %}bg-yellow-500 
          {% else %}bg-gray-700{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  

  <!-- Main Content -->
  <main class="max-w-3xl mx-auto px-6 py-12 fade-in">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="text-center text-sm text-gray-400 py-6">
    &copy; {{ now|date:"Y" }} InsightVault. All rights reserved.
  </footer>

</body>
</html>
